@media (min-width:1024px) {
#rating {
    display: flex;
}

.col {
    padding: 50px;
}
}

@media (min-width:1440px){
    #rating {
        justify-content: space-around;
    }

    .col {
        max-width: 600px;
    }
}