* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --logo: #8d2b00;
    --cor-header: #b55119;
    --cor-primaria: #545e45;
    --title: #1f2d16;
    --buttons: #78704c;
    --cor-secundaria: #1f2d16;
    --popup: #ffefcd;
}

html {
    font-family: 'Exo', sans-serif;
}

a {
    color: #000;
}

h2 {
    color: var(--title);
}

.title {
    color: var(--title);
}

.logo, .sec {
    font-family: 'Acme', sans-serif;
}

.dividerOne{
    height: 1px;
    background: linear-gradient(90deg, rgba(116,76,36,1) 0%, rgba(239,206,173,1) 100%);
}

.dividerTwo{
    height: 1px;
    background: linear-gradient(90deg, rgba(239,206,173,1) 0%, rgba(116,76,36,1) 100%);
}